@model MJ.Domain.ViewModels.ProductHeadTypeVM


<div class="modal fade" id="addSubCategoryModal" tabindex="-1" aria-labelledby="addSubCategoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-lg font-semibold" id="addSubCategoryModalLabel">
                    @(Model.Id == 0 ? "Add New Product HeadType" : "Edit Product HeadType")
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="subcategoryForm">
                    @if (Model.Id != 0)
                    {
                        <input type="hidden" id="subcategoryId" value="@Model.Id" />
                    }

                    <div class="mb-3">
                        <label for="subcategoryName" class="form-label">Name</label>
                        <input type="text" id="subcategoryName" value="@Model.Name" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="parentCategory" class="form-label">Parent Category(Optional)</label>
                        <select id="parentCategory" class="form-select">
                            <option value="">None</option>
                            @if(ViewBag.CategoryList != null)
                            {
                                foreach (var parentCategory in ViewBag.CategoryList)
                                {
                                    <option value="@parentCategory.ProductHeadId" selected="@(parentCategory.Name == Model.ParentCategoryName ? "selected" : null)"> @parentCategory.Name</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="subcategoryDescription" class="form-label">Description</label>
                        <textarea id="subcategoryDescription" rows="3" class="form-control">@Model.Description</textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="subcategoryStatus" id="categoryActive"
                                value="true" @(Model.IsActive == true ? "checked" : "")>
                            <label class="form-check-label" for="categoryActive">Active</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="subcategoryStatus" id="categoryInactive"
                                value="false" @(Model.IsActive == false ? "checked" : "")>
                            <label class="form-check-label" for="categoryInactive">Inactive</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">
                            @(Model.Id == 0 ? "Save ProductHead Type" : "Update ProductHead Type")
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>